#after-man-book-cover {
    height: 400px; 
}

.sections {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

h1 {
    font-size: 50px;    
}

h2 {
    margin-top: 90px;
}

body {
    background-color: black;
    color: white;
}